html{
    box-sizing: border-box;
    font-family: sans-serif;
}
*,*::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 25px 10px 25px 30px;

    font-size: 24px;
    color: azure;
    background-color: #1F2937;
}

.right-components{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-size: 18px;
    width: 20vw;
}

.right-components > li:hover{
    opacity: 0.5;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.hero-container{
    font-size: 24px;
    background-color: #1F2937;
    color: azure;
    padding: 100px;

    display: flex;
    width: 100vw;
    justify-content: center;
}

img{
    height: 300px;
}

.hero-text{
    font-size: 80px;
}

.small-text{
    font-size: 20px;
    padding-top: 10px;
}

.btn button{
    background-color: #3882F6;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    color: azure;
    font-size: 15px;
}

.btn button:hover{
    opacity: 0.8;
}

.btn button:active{
    opacity: 0.4;
}

